html, body {
    margin: 0;
    height: 100%;
}

#version {
    font-style: italic;
}

#svg {
    background-color: aliceblue;
    margin-top: 20px;
    width: 100%;
}

.border {
    stroke: green;
    stroke-width: 1;
    stroke-dasharray: 1, 4;
}

.normal-node {
    stroke: green;
    stroke-width: 1;
    fill-opacity: 0;
}

.covered-node {
    stroke: yellow;
    stroke-width: 1;
    fill-opacity: 0;
}

.column-header-name {
    fill: green;
    text-anchor: middle;
}

.column-header-row-count {
    fill: green;
    text-anchor: middle;
}

.dot {
    fill: green;
}

.normal-link {
    stroke: green;
    stroke-width: 1;
}

.going-around-link {
    stroke: red;
    stroke-width: 1;
    fill-opacity: 0;
}

.normal-arrow-head {
    fill: green;
}

.going-around-arrow-head {
    fill: red;
}
