html, body {
    margin: 0;
    height: 100%;
}

#canvas {
    background-color: aliceblue;
    margin: 10px;
}

#svg {
    background-color: aliceblue;
    margin: 10px;
}

button {
    margin-left: 10px;
}

#tables {
    display: inline-block;
}

#version {
    font-style: italic;
}