html, body {
    margin: 0;
    height: 100%;
}

#canvasContainer {
    background-color: peachpuff;
    display: flex;
    min-height: 100%;
}

#canvas {
    background-color: aliceblue;
    flex-grow: 1;
    margin: 10px;
}